body {
  font-family: $font-family;
  height: 100vh;

  #app {
    display: flex;
    height: 100vh;
  }

  button {
    background: transparent;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
